.buttonContainer {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.button {
  background-color: #555555;
  transition: 0.2s;
  opacity: 0.66;
  border: none;
  color: white;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 6px 4px;
  cursor: pointer;
}

.resetButton:hover {
  opacity: 1;
}

.threeContainer {
  margin: 0px;
  padding: 0px;
}

.tooltipContainer {
  background-color: white;
  padding: 8px;
  flex-direction: column;
  align-items: stretch;
}

.groupBox {
  padding: 4px;
}

.sliderContainer {
  position: fixed;
  bottom: 8px;
  left: 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}